TELEGRAM_BOT_TOKEN=8947611464:AAGxBbe_N8VqSdy71OS7rLbHyIkP4mPKjVc
GEMINI_API_KEY=AQ.Ab8RN6ISpxoWMec0mAtwJlbMyPri2M7a1SsWen4gx1wYprmwMQ
ADMIN_ID=328761045
TEACHER_LINK=https://t.me/ссылка_на_настоящий_аккаунт_дины
VK_TOKEN=вставь_сюда_токен_сообщества_вк
